@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  font-family: "Noto Sans", sans-serif;
}
body {
  background-color: #333;
  color: white;
}
.Button {
  margin: 1rem;
  padding: 1rem;
}
.error,
.success {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
}

.header-title,
.success {
  color: green;
}

.blog {
  background-color: #999;
  margin: 0 auto;
  border: 1px solid black;
}
.blog-title {
  font-size: 1.2rem;
}
