body {
  background: #333;
  color: white;
}
a {
  color: #0033cc;
}
tr:hover {
  background-color: white;
  color: black;
}
td {
  padding: 0.5rem;
}
button {
  padding: 0.5rem;
  background-color: #142d4c;
  border-color: #fff;
  border-radius: 15px;
  color: white;
  margin: 10px;
}
button:hover {
  background-color: #385170;
}
.title {
  text-align: center;
}
.container {
  /*   border: 1px solid white;
  border-radius: 10px; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.error {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.inner {
  margin: 0 auto;
}
.nav-list {
  border: 1px solid white;
  border-radius: 10px;
  background-color: #666;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.5rem;
}
.nav-link {
  padding: 1rem;
}
.nav-li {
  padding: 1rem;
  list-style: none;
}
#nav-username {
}
.nav-link:hover {
  color: #9fd3c7;
}
